Options -Indexes
RewriteEngine On
RewriteBase /

# Redirect all requests not pointing to actual files or directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
